<!DOCTYPE html>
<html>

<head>
    <title>Add Student</title>
</head>

<body>

    <h1>Add New Student</h1>

    <form method="POST">

        <label>Admission Number:</label><br>
        <input type="text" name="admission_number" required>

        <br><br>

        <label>Full Name:</label><br>
        <input type="text" name="full_name" required>

        <br><br>

        <label>Gender:</label><br>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        <br><br>

        <label>Class:</label><br>
        <input type="text" name="class_name">

        <br><br>

        <label>Stream:</label><br>
        <input type="text" name="stream">

        <br><br>

        <label>Phone:</label><br>
        <input type="text" name="phone">

        <br><br>

        <button type="submit">SAVE STUDENT</button>

    </form>

</body>

</html>