<!DOCTYPE html>
<html>

<head>
    <title>Student Details</title>
</head>

<body>

    <h1>Student Details</h1>

    <p>
        <strong>Admission Number:</strong>
        {{ student["admission_number"] }}
    </p>

    <p>
        <strong>Full Name:</strong>
        {{ student["full_name"] }}
    </p>

    <p>
        <strong>Gender:</strong>
        {{ student["gender"] }}
    </p>

    <p>
        <strong>Class:</strong>
        {{ student["class_name"] }}
    </p>

    <p>
        <strong>Stream:</strong>
        {{ student["stream"] }}
    </p>

    <p>
        <strong>Phone:</strong>
        {{ student["phone"] }}
    </p>

    <br>

    <a href="/students">
        BACK TO STUDENTS
    </a>

</body>

</html>